// Background
$bg_gradient_from_color: #00D1B8;
$bg_gradient_to_color: #00E079;
$bg_gradient_animation_time: 10s;
// Body
$body_text_color: #fff;

// Form
$form_input_bg_color: #fff;
$form_icon_color:#999;
$form_input_color: #333;
$form_input_focus_set: true;
$form_input_bg_color_focus: #fff;
$form_input_color_focus: #111;

// Flash msg
$flashmsg_bg_success: #96cb1a;
$flashmsg_bg_danger: #c80547;