%h1.h1
  New board
.form-board.form-sI
  = render 'partials/errors', :obj => @board
  =form_for :board, :url => boards_path, :html => {:class => 'form-g'} do |f|
    .form-i
      = f.label :name
      = f.text_field :name
    .form-i
      = f.submit 'Create board'