%nav.nav
  %ul
    - if logged_in?
      - if user_boards && user_boards.length < 4
        %li.nav-i
          =link_to(raw('<i class="fa fa-plus-square"></i> New Board'), new_board_path)
      %li.nav-i
        =link_to destroy_session_path do
          .fa.fa-sign-out
          ="Logout #{current_user.name}"

    - else
      %li.nav-i
        =link_to new_session_path do
          .fa.fa-sign-out
          Login
      %li.nav-i
        =link_to sign_up_path do
          .fa.fa-user
          Register